/pact/pacts/
**/.gradle/*
**/build/*
**/bin/*
**/target/*
**/.classpath
**/.project
**/.settings/*
.DS_Store
**/.DS_Store
/Introduction to IDE Code Refactoring in Java/
/Introduction to IDE Code Refactoring in Kotlin/
